<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create new Post</h1>
    <form method="post" action="/posts">
        <input placeholder="Enter Username" name="username"> <br> <br>
        <textarea placeholder="Write your post" name="content"></textarea> <br>  <br>
        <button>Submint post</button>
    </form>
    
</body>
</html>